iframe {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: solid #222 7px;
    box-sizing: border-box;
}

#form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

form {
    display: block;
    padding: 10px;
    text-align: center;
}

form span {
    display: block;
    padding: 10px;
}
